# Vite expone solo las vars con prefijo VITE_

# Keycloak (servidor) y realm/client
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=innovatech
VITE_KEYCLOAK_CLIENT_ID=innovatech-frontend

# API Gateway publico
VITE_API_BASE=http://localhost:9000/api
